/*
Theme Name: Creek Hamamatsu, JP
Theme URI: http://www.facebook.com/luke.helg/
Author: Luke Helg
Author URI: http://www.facebook.com/luke.helg/
Description: Theme for Creek Dinner, Hamamatsu.
Version: 1.0
License URI: http://www.facebook.com/luke.helg/
*/

body{
	font-family: 'Helvetica Neue';
	height: 100%;
	padding-top: 60px;

	
}

.ja{
	.food-name{
		color: deeppink !important;
		font-weight: bold;
	}

}



#review-ap{
	display: block;
	padding-top:60px;
}

.menu-section-header{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	h2{
		font-family: 'Satisfy';
		font-size: 2.2em;
		color: @creekgreen;
		margin-bottom: 0px;
		padding-bottom: 25px;
		border-bottom: 1px double @creekgreen;
	}
}

.top{
	margin-top: 0px;
	padding-top: 0px;
}

.menu-section-header:first{
	padding-top: 0px;
}

/*Random bootstrap fuckup fix*/
.row{
	margin-left: 0px;
	margin-right:0px;
}

#swipebox-overlay{
	background: fade(black, 90%) !important;
}

/*BOOTSLIDER HEADING*/
.bootslider .bs-container .bs-slide .bs-foreground .heading {
  color: white;
  font-size: 22px !important;
  padding: 40px 0px !important;
  margin: auto;
  margin-top: 10%;
}

.heading-black{

	margin-top: 1% !important;

	.slide-text{
		background-color: fade(black,40%);
		font-size: 2.5em;
		font-weight: 700;
		letter-spacing: -6px;
		margin-top: 60px;
		padding: 25px 15px;
		
		.main-slide-text{
			margin-top: -15px;
			span{
			color: @creek-secondary;
			}
		}

		.small-text{
			letter-spacing: 0px;
			font-size: 0.8em;
			font-family: 'Satisfy';
		}
	}
	
}

.heading-review{
	margin-top: 1% !important;

	.review-text{
	margin-top:50px;	
	font-size: 2.2em;
	font-weight: 700;
	color: #fff;
	letter-spacing: -6px;
	span{color:#3B5998; }
	}

	.review-author{
		color: @creek-secondary;
	}

	.slide-button{
		margin-top:40px;
		background-color: #3B5998;
		padding: 10px 15px;
		width: 200px;
		margin-left: auto;
		margin-right: auto;
		color:white;
		cursor: pointer;
		.fa-angle-double-right{
			padding-left: 10px

		}
	}

}

.heading-special{

	margin-top: 0.3% !important;
		
	.slide-text{
	margin-top:50px;	
	font-size: 3.6em;
	font-weight: 700;
	color: #fff;
	letter-spacing: -6px;
	span{color:#3B5998; }
	}
	.slide-button{
		margin-top:40px;
		background-color: #3B5998;
		padding: 10px 15px;
		width: 300px;
		margin-left: auto;
		margin-right: auto;
		color:white;
		cursor: pointer;
		.fa-angle-double-right{
			padding-left: 10px

		}
		.fa-facebook{
			padding-right: 25px;
		}
	}

	.slide-button:hover{
		background-color: saturate(#3B5998, 40%);
	}

}
.slider-logo{
	background: url('includes/img/creek@x1.png') no-repeat;
	height: 0px;
	width: 0px;
	padding: 18px 60px;
}

#mobile-call-wrapper{
	padding-left: 30px;
	padding-right: 30px;
}

#mobile-call-button{
	text-align: center;
	padding: 15px 15px;
	background-color: @creek-secondary;
	color: white;
	.fa{
		margin-left: 15px;

	}
	font-size: 1.2em;
}



/**
*
* CREEK STYLES
*
**/

/*@creekgreen:#03451E;*/ //original
@creekgreen:#056F39;
@creeklight:#fcfbb8;
@creekfooter:#222222;
@creek-secondary:#ed6c21; //flat orange;


.social-sharing-wrapper{
	padding: 20px 0px;
}

#content-wrapper{
	background-color: #ffffff;

}

#homepage-main{
	background-color: #fffff1;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 60px;
	padding-left: 60px;
	padding-right: 60px;
}

#contact-details{
	padding: 80px 0px;
	
}

#page-wrapper{
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;
}

#inner-wrapper{
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;
}

.logo-container {
  	text-align: center;
  }
  
.menu-logo {
   margin-top: 15px;
   float: none;
   height: 50px;
   width: 150px;
  }

#nav-logo{
	display: none;
}
#sidebar-access{
	margin-left: 0px;
	padding-top: 20px;
}

.social-widget-wrapper{
	text-align: center;
	a{ color:lightgray; }
	.fa{
		padding: 25px 10px;

	}

	.fa-facebook{
		color:#3B5998;
	}

	.fa-facebook:hover{
		color:lighten(#3B5998, 10%);
	}

	.fa-twitter{
		color: #00aced;
	}

	.fa-twitter:hover{
		color: lighten(#00aced, 10%);
	}

	.fa-google-plus{
		color: #dd4b39;
	}

	.fa-google-plus:hover{
		color: lighten(#dd4b39, 10%);
	}
}

#slider-bottom{
	color: gray;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 20px 0px;
	text-align: center;
	font-size: 2.2em;
	font-family: 'Satisfy';
	margin-bottom: 0px;
}

.homepage-left{
	padding-top: 40px;
}
.main-title{
	letter-spacing: -3px;
	color: lighten(@creekgreen, 10%);
	margin-top: 0px;
}

#brand-logo{
	background: url('includes/img/creek@x1.png') no-repeat;
	height: 0px;
	width: 0px;
	padding: 18px 60px;
	display: block;
	
}

#menu-icon{
	display: block;
	background:  url('includes/img/menu-icon-white.png') no-repeat;
	height: 0px;
	width: 0px;
	padding: 75px 75px;
	margin: 0px auto;	
}


#ny{
	display: block;
	background: url('includes/img/liberty.png') no-repeat; 
	width: 0px;
	height: 0px;
	padding: 80px 40px;
	margin: auto;
}


/*----HOMEPAGE GRID STYLE---*/

#rhc{
	padding-top: 15px;
	padding-left: 0px;
}

.top-col{
	margin-top: 7.5px;
	margin-bottom: 7.5px;
}

.homepage-box{
	height: 350px;
	position: relative;
	text-align: center;
}

.homepage-box-button{
	position: absolute;
	bottom: 0;
	height: 75px;
	z-index: 22;
	background-color: @creek-secondary;
	width: 100%;
	color: white;
	font-size: 1.8em;
	line-height: 75px;
	font-weight: 300;
	font-family: 'Satisfy';
	-webkit-transition: all 0.3s ease-out;  
 	-moz-transition: all 0.3s ease-out;  
 	-o-transition: all 0.3s ease-out;  
 	transition: all 0.3s ease-out;  	
}

.homepage-box-button:hover{
	background-color: orange;
	-webkit-transition: all 0.3s ease-out;  
 	-moz-transition: all 0.3s ease-out;  
 	-o-transition: all 0.3s ease-out;  
 	transition: all 0.3s ease-out;  	
}

.hours-box{
	background-color: white;
	border: 1px solid @creek-secondary;
	padding-top: 30px;
}

.menu-box{
	background: url('includes/img/creek-tofu.jpg') top;
	background-size: cover;
	padding-top: 50px;
}

.hours-text{
	font-size: 1.8em;
	color: @creek-secondary;
	font-family: 'Satisfy';
}

.hours-text-small{
	font-size: 1.2em;
	font-weight: 600;
	color: gray;
}

#grid-container{
	background-color: #ffffff;
	width: 100%;
	padding-left: 65px;
	padding-right: 65px;
	padding-top: 70px;
	padding-bottom: 70px;
}


/*----RESERVATION WIDGET---*/

#reserve-widget{
	margin-top: 25px;
	height: 150px;
	/*background-color: @creek-secondary;*/
	text-align: center;
	border: 5px solid @creek-secondary;
	color: @creek-secondary;
	padding-top: 25px;
	#main{
		font-size: 1.8em;
		font-weight: 700;
	}

	#sub{
		font-size: 1.8em;
		font-weight:700;
	}

}
/*PHONE ONLY CONTENTS*/
.hide-mobile{
	display: block;
	margin: auto;
}

.hide-desktop{
	display: none;
}

.mobile-contact{
	display: none;
	padding: 15px 0px;
	.fa{
		color:@creek-secondary;
	}
	p{
		padding: 10px 0px 15px 0px;
		font-weight: 700;
		font: 1.2em;
		letter-spacing: -1px;

	}
}

#creek-footer{
  	margin-bottom: 0px;
}


/*-------HOMPAGE REVIEW-----*/

#reviews{
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px 50px 0px 50px;
	border-top: 1px dashed lightgray;

}


.bne-testimonial-heading{
	font-size: 14px;
	font-weight: 400;
	margin-top: 20px; 
	.fa{
		padding-right: 15px;
	}
}

.bne-testimonial-slider.flexslider .flex-content{
	padding: 15px 12px;

}

#review-title{
	padding: 25px 0px;
	margin-bottom: 0px;
	font-size: 1.2em;
		font-weight: 700;
		
		span{
			font-weight: 300;
		}	

}

.review-arrow {
border-bottom: 10px solid transparent;
border-left: 10px solid transparent;
border-right: 10px solid transparent;
/*border-top: 10px solid #EFEFEF;*/
border-top: 10px solid #ecf0f1;
height: 0px;
width: 0px;
left: 110px;
position: absolute;
}

.bne-element-container{
	margin: 0px;
}

.bne-testimonial-slider.flexslider .slides{
	background-color: #ecf0f1;
}
.bne-testimonial-slider-wrapper{
	padding: 0px;
}

.bne-testimonial-slider.flexslider .flex-content{
	padding: 30px 20px;
}

/*GALLERY SHIT*/

#filters{
	padding-top: 15px;
	p{
		display: inline;
		font-size: 16px;
		font-family: 'Oswald';
		cursor: pointer;
		color: @creekgreen;
	}

	span {
		padding: 0px 10px;
	}

	.filter{
		color: @creek-secondary;
	}
}
/*CREEK FOOTER*/

#creek-footer{
	background-color: @creeklight;
	margin-top: 60px;
	border-bottom: 5px solid @creek-secondary;
	text-align: center;
}

.address{
	font-size: 1.1em;
	font-weight: 300;
	margin-bottom: 20px;
}
.email{
	font-size: 1.0em;
	font-weight: 200;

}

.phone{
	font-size: 1.2em;
	font-weight: 200;
	padding-top: 15px;
	a{color: @creekgreen;}

}

#footer-social{
	padding: 30px 0px;
	font-size: 1.2em;
	.fa{
		padding: 0px 10px;
		color: @creekgreen;
	}
	a:hover{
		color: lighten(@creekgreen, 10%);
	}
}


/**
*
* FOOD MENU STYLES
*
**/

.menu-pic {
  height: 150px;
  margin-right: 15px;
  float: left;
}
.main-menu-wrapper {
  clear: both;
}

.food-name{
 font-family: 'Oswald';
 color: @creekgreen;
}

.food-price{

}

.layover{
	position: absolute;
	width: 100%;
	top: 50px;
	left: 50px;
	color: white;
	font-weight: 700;
	letter-spacing: -3px;

}

.italic{
	border: 1px solid lightgray;
	padding: 5px 10px;
}

.large{
	font-size: 2.5em;
	font-weight: 300;
	letter-spacing: -2px;
	line-height: -0.2px;
}

#signature{
	margin: 30px 0px;
	font-family: 'Satisfy';
	font-size: 1.2em;
}

 .reserve{
	background-color: @creek-secondary;
	border-radius: 0px;
	margin-top:15px;
	width: 180px;
	padding-top: 15px;
	padding-bottom: 15px;
	-webkit-transition: all 0.3s ease-out;  
 	-moz-transition: all 0.3s ease-out;  
 	-o-transition: all 0.3s ease-out;  
 	transition: all 0.3s ease-out;  		
 	color: white;
 	font-size:0.7em;
 	font-weight: 300;
 }

.reserve:hover{
	background-color: lighten(@creek-secondary, 20%);;
	-webkit-transition: all 0.3s ease-out;  
 		-moz-transition: all 0.3s ease-out;  
 		-o-transition: all 0.3s ease-out;  
 		transition: all 0.3s ease-out;  
}

#concept-text{
	margin-top: 25px;

}

.separator{
	border-bottom: 1px solid gray;
}

/**
*
* CREEK LARGE SCREEN NAV
*
**/

	.navbar{
		background-color: @creekgreen;
		border-bottom: 1px solid @creekgreen;
		height: 65px;
	}

	.navbar-nav{
		font-family: 'Oswald';
		font-size: 15px;
		text-transform: uppercase;
	}

	.navbar-inverse .navbar-nav>li>a{
		color: white;
		line-height: 30px;
		margin-left: 40px;

	}
	.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus{
    	background-color: transparent;
    	
    }

    .navbar-inverse .navbar-nav>li>a:hover{
		color: @creek-secondary;
	}

	.navbar-inverse .navbar-nav>.active>a{
		color: @creek-secondary;
	}

	.navbar-inverse .navbar-nav>.active>a:hover{
		color: @creek-secondary;
	}


/**
*
* GLOBAL STYLES
*
**/

@primary: black;
@secondary:yellow;

a{
	color: @primary;
}

a:hover{
	color: lighten(@primary, 30%);
	text-decoration: none;
}

/**
*
* PAGE/CONTENT STYLES
*
**/


div [class*="col-"]{
	margin-top: 15px;
	margin-bottom: 15px;
}

#content-column{
	padding: 15px 50px;
}

#gallery-content-column{
	padding: 15px 15px;
}

.post-content{
	clear:left;
	padding-top: 20px;
	padding-bottom: 20px;

	.img-responsive{
		margin-top:25px;
		margin-bottom: 25px;
	}
}

/**
*
* ERROR PAGE
*
**/

#error-container{
	
	height: 400px;
	margin-top: 50px;

	 .error-message{

	 }	
}


/**
*
* HEADING STYLES
*
**/

#page-header{
	padding-bottom: 15px;
	border-bottom: 1px solid @creek-secondary;
	font-family: 'Oswald';
	padding-left: 50px;
	color:@creekgreen;

}


.logo-post-header{
	
	/*LOGO*/
	.logo-post-header-logo{
	float: left;
	margin-right: 10px;

	}
	/*TITLE & META*/
	.logo-post-header-text{
	float: left;
	h2{
		margin-top: 0px;
	}

	.fa{
		margin-right: 10px;
		margin-left: 10px;
	}

	.first{
		margin-left: 0px;

	}
	}
 
}

.standard-post-header, .single-standard-post-header{

	.fa{
		margin-right: 10px;
		margin-left: 10px;
	}

	.first{
		margin-left: 0px;

	}

}



/**
*
* CREEK BLOG STYLES
*
**/
.single-post-container{
	border-bottom: 1px solid lightgray;
	margin-bottom: 30px;

}
.standard-post-header{
	padding-bottom: 30px;
	border-bottom: 1px dashed lightgray;
	.sub-title{
		font-family: 'Oswald';
		font-size: 2em;
		margin-bottom: 15px;

	}
}

.single-standard-post-header{
	padding-bottom: 0px;
	border-bottom: 1px dashed lightgray;
	.sub-title{
		font-family: 'Oswald';
		font-size: 2em;
		margin-bottom: 15px;

	}
}


.addthis_default_style .at300b{
	width: 95px !important;
}

.read-more-button{
	/*background-color: #ecf0f1;*/
	background-color: @creek-secondary; 	
	text-align: center;
	padding: 10px 0px;
	-webkit-transition: all 0.3s ease-out;  
 	-moz-transition: all 0.3s ease-out;  
 	-o-transition: all 0.3s ease-out;  
 	transition: all 0.3s ease-out;  	
 	color: white;
}

.read-more-button:hover{
	background-color: saturate(@creek-secondary, 60%);
	-webkit-transition: all 0.3s ease-out;  
 	-moz-transition: all 0.3s ease-out;  
 	-o-transition: all 0.3s ease-out;  
 	transition: all 0.3s ease-out;  
 	color: white;	
	
}


/**
*
* SIDEBAR/WIDGET STYLES
*
**/

#sidebar{
	margin-left: 25px; /*Decrease for 4 column header*/
	padding: 25px;
	padding-right: 0px;
}

#sidebar-left{
	margin-right: 25px;
	padding: 25px;
}

.underline-title{
	border-bottom: 1px solid lightgray;
	padding-bottom: 5px;
	color: lightgray;
	font-weight: 700;
	letter-spacing: -2px;
}

.block-title{
	color: @primary;
	background-color: @secondary;
	padding: 8px;
	font-size: 22px;


}

.wp-tag-cloud {
  list-style: none;
  padding: 0px;
}
.wp-tag-cloud li {
  display: inline-block;
  padding: 5px 10px;
  background-color: @creekgreen;
  margin: 5px 5px;
}
.wp-tag-cloud a {
  text-decoration: none;
  color: white;
}

#hot-pepper{
	img{
		margin-top: 30px;
	}
}

/**
*
* FOOTER STYLES
*
**/

#main-footer{
	margin-top: 50px;
	padding: 25px;
	background-color: @secondary;
}

#mini-footer{
	padding: 10px 25px;
}

/**
*
* CUSTOM FLAT NO RADIUS BUTTONS
*
**/

@flat-red: #c0392b;

.button-flat{
  display: block;	
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px 20px;
  width: 80px;
  background-color: @flat-red;
  color:white;
}

.button-flat:hover{
  color:white;
  background-color: lighten(@flat-red,5%);	
}

/**
*
* ACCESS/CONTACT PAGE
*
**/

#contact-details-wrapper{

	h3{
		color: @creek-secondary;
	}
	.contact-heading{
	font-family: 'Oswald';
	font-size: 1em;
	color: @creekgreen;
	padding-top: 15px;
	}

	.contact-sub-heading{
	font-family: 'Oswald';
	font-size: 0.9em;
	color: @creekgreen;
	margin-top: 25px;
		
	}

	p{
	font-size: 14px;

	}

	#access-button-wrapper{
		display: none;
	}

}

/**
*
* HOVER EFFECT/STYLES
*
**/

figure {
	position: relative;
	z-index: 1;
	display: inline-block;
	overflow: hidden;
	background: deeppink;
	text-align: center;
	cursor: pointer;
}

 figure img {
	position: relative;
	display: block;
}

 figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	p{
		color: black;
		font-weight: 700;
		font-size: 0.8em;
	}
}

 figure figcaption::before,
 figure figcaption::after {
	pointer-events: none;
}

 figure figcaption,
 figure a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	
}

figure a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

 figure h2 {
	word-spacing: -0.15em;
	
	font-weight: 300;
}

 figure h2 span {
	font-weight: 800;
}

 figure h2,
 figure p {
	margin: 0;
}

 figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/*---------------*/
/** Sarah Effect**/
/*---------------*/

figure.effect-sarah {
	background: #fffff1;
	/*background-color: deeppink;*/
}

figure.effect-sarah .img .image-responsive{
	width: -webkit-calc(100% + 20px);
	width: calc(100% + 20px);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-10px,0,0);
	transform: translate3d(-10px,0,0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	padding-left: 15px;

}

figure.effect-sarah:hover img {
	opacity: 0.4;
	/*-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);*/
}

figure.effect-sarah figcaption {
	text-align: left;
}

figure.effect-sarah h2 {
	position: relative;
	overflow: hidden;
	padding: 0.5em 0;
}

figure.effect-sarah:hover {
	
	h2{color: saturate(@creek-secondary, 80%);}
}

figure.effect-sarah h2::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: @creek-secondary;
	content: 'jhjh';
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}

figure.effect-sarah:hover h2::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-sarah p {
	padding: 1em 0;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}

figure.effect-sarah:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}




/*ISOTOPE*/

.post h4 {
  margin-bottom: 9px;
}

.post h4 a {
  color: #333;
}

.post img.image {
  max-width: 100%;
  margin-top: 9px;
}

.info {
	padding:4px;
}

/* Isotope Transitions
------------------------------- */
.isotope,
.isotope .item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}
  
  
/* responsive media queries */
  
@media (max-width: 480px) {

}

@media (max-width: 768px) {
  header h1 small {
    display: block;
  }

  header div.description {
    padding-top: 9px;
    padding-bottom: 4px;
  }

  .isotope .item {
    position: static ! important;
    -webkit-transform: translate(0px, 0px) ! important;
       -moz-transform: translate(0px, 0px) ! important;
            transform: translate(0px, 0px) ! important;
  }
}

@media (max-width: 980px) {
  header p.lead span {
    display: block;
  }
}

@media (min-width: 480px) and (max-width: 768px) {

}


@media (min-width: 768px) and (max-width: 980px) {
  .span3 {
    width: 300px;
  }
}

@media (min-width: 980px) and (max-width: 1200px) {
  .span3 {
    width: 300px;
  }
}

@media (min-width: 1200px) {
  .span3 {
    width: 270px;
  }
}

#posts{
	.post{
		
		.img-responsive{padding: 10px;}
				
	}
}

/*------------*/


/**
*
* CUSTOM MEDIA ENQUIRIES
*
**/


@media (max-width:640px) {

body{
	padding-top: 0px;
}
#masthead{
		display: none;
}

#inner-wrapper{
	padding-left: 0px;
	padding-right: 0px;
}

.logo-post-header{
	h2{
		font-size: 16px;

	}
}

#bootslider{
	height: 220px;

}

#page-header{
	text-align: center;
	padding-left: 0px;
}
	

#slider-bottom{
	font-size: 1.8em;
	
}
	
#concept-column{
	padding-left: 15px;
	padding-right: 30px;
	padding-bottom: 30px;
	margin-bottom: 0px;
	margin-left: 8px;
}
	
#concept-text{
	text-align: center;
}

 #creek-footer{
  	margin-bottom: 0px;
}

/*OTHER*/
#sidebar{
	margin-left: 0px;
	margin-top: 45px;
	padding: 15px;
}

#sidebar-left{
	margin-right: 0px;
	margin-top: 45px;
	padding: 15px;
}


/*
MOBILE MENU BS OVERIDES & STYLES
*/	
  .navbar{
		background-color: @creekgreen;
		margin-bottom: 0px;
		border-radius: 0px;
		height: 50px;
		border-left: none;
		border-right: none;
		border-top: none;
		border-bottom: 1px solid @creekgreen;

	}
	.navbar-nav > li > a {
  	line-height: 30px !important;
	}

	#nav-fixed-mobile{
    top: 0;
    border-width: 0 0 1px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    border-radius:0px;
	}


	.navbar-nav {
	    margin: 0 auto;
	    display: block;
	    float: none;
	    width: 100%;
	    font-family: 'Helvetica';
	    font-size: 14px;
	   

    }
    .navbar-nav>li {
        display: block;
        float: none;
        text-align: center;
    	vertical-align: middle;

    }

    .navbar-nav>li>a{
    	background-color: white;
    	border-bottom: 1px solid lightgray;

    }

    .navbar-nav>li:hover{

    	background-color: white;
    }

	.navbar-inverse .navbar-nav>li>a{
		color: @creekgreen;
	}

	.navbar-inverse .navbar-nav>li>a:hover{
		color: @creek-secondary;
	}


    .navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus{
    	background-color: white;
    	color:@creekgreen;
    	
    }

	.navbar-collapse {
		padding-left: 0px;
		padding-right: 0px;
	}

	#nav-logo{
	display: block;
	}

	.navbar-brand {
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.navbar-fixed-top{
		position: relative;
	}	

 

.food-name{
	clear: both;
	padding-top: 15px;
}

.menu-pic{
	height: 180px;
}

#homepage-main{
	padding-left: 15px;
	padding-right: 15px;
}

.review{
	margin-left: 0px;
	margin-right: 0px;
}

/*PHONE ONLY CLASSES*/
.hide-mobile{
	display: none;
}

.hide-desktop{
	display: block;
}

.mobile-contact{
	display: block;
} 

.navbar-inverse .navbar-nav > li > a{
	margin-left: 0px;
}

#content-column{
	padding:15px 15px;
}

#sidebar-access{
	display: none;
}

.navbar-inverse .navbar-toggle {
	border: none;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color: transparent;
}

#homepage-main{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 25px;
}

#hours{
	.main-title{
		font-size: 30px;
		padding-bottom: 15px;
	}
}

.menu-col{
	padding-top: 0px;
}

#sidebar{
	display: none;
}

#reviews{
	padding-left: 15px;
	padding-right:15px;
}

.page-title{
	font-size: 24px;
}

.standard-post-header .sub-title{
	font-size: 1.5em;
}

/**
*
* ACCESS/CONTACT PAGE
*
**/

#contact-details-wrapper{

	text-align: center;

	#access-button-wrapper{

		.contact-heading{
			color:@creek-secondary;
			padding-bottom: 15px;
			.fa{
				padding-left: 15px;
				font-size: 18px;
			}
		}
		margin-top: 35px;
		display: block;
		#access-map-button{
			width: 250px;
			padding: 10px 0px;
			background-color:#eeb211;
			color: white;
			font-weight: bold;
			margin: 20px auto;

		}
		#access-map-button:hover{
			background-color: lighten(#eeb211, 20%);

		}
		#access-line-button{
			width: 250px;
			padding: 10px 0px;
			background-color: lighten(green, 20%);
			color: white;
			font-weight: bold;
			margin: 20px auto;
		}
		#access-line-button:hover{
			background-color: green;
		}
	
	}

}

.address{
		font-size: 1em;
}

figure h2{
	font-size: 25px;
}

/*BOOTSLIDER MOBILE HEADING*/
.bootslider .bs-container .bs-slide .bs-foreground .heading {
  color: white;
  font-size: 22px !important;
  /*padding: 40px 20px !important;
  margin-left: auto;
  margin-right: auto;*/

}
.heading-black{

	.slide-text{
		background-color: fade(black,40%);
		font-size: 1em;
		font-weight: 700;
		letter-spacing: -1px;
		margin-top: -2px;
		padding: 15px 15px 25px 15px;
		span{
			color: @creek-secondary;
		}

		.small-text{
			letter-spacing: 0px;
			font-size: 0.7em;
			font-family: 'Satisfy';
		}

		.main-slide-text{
			margin-top: 0px;
			span{
			color: @creek-secondary;
			}
		}
	}
	
}

.heading-special{

	margin-top: 0.2% !important;
		
	.slide-text{
	margin-top:-1px;	
	font-size: 1.3em;
	font-weight: 700;
	color: #fff;
	letter-spacing: -1px;
	span{
		color: #3B5998;
	}
	}

	.slide-button{
		font-size: 0.8em;
		margin-top:15px;
		background-color:#3B5998;
		padding: 10px 15px;
		width: 200px;
		margin-left: auto;
		margin-right: auto;
		color:white;
		cursor: pointer;
		}

	.slide-button:hover{
		background-color: lighten(#3B5998, 20%);
	}

}

.heading-review{
	margin-top: 0.3% !important;

	.review-text{
	margin-top:15px;	
	font-size: 0.5em;
	font-weight: 700;
	color: #fff;
	letter-spacing: -1px;
	span{color:#3B5998; }
	}

	.review-author{
		color: @creek-secondary;
		font-size: 0.5em;
	}

	.slide-button{
		margin-top:40px;
		background-color: #3B5998;
		padding: 6px 10px;
		width: 150px;
		margin-left: auto;
		margin-right: auto;
		color:white;
		cursor: pointer;
		.fa-angle-double-right{
			padding-left: 10px

		}
	}

}

/*END SLIDE SHIT*/

#rhc{
	padding-top: 0px;
	padding-left: 30px;
	padding-right: 30px;
}

#grid-container{

	padding-left: 15px;
	padding-right: 15px;
	padding-top: 30px;
	padding-bottom: 30px;
	.col-md-8{
	padding-left: 0px;
	padding-right: 0px;

	}

	.col-md-6{
	padding-left: 0px;
	padding-right: 0px;

	}

	.col-md-4{

	padding-left: 15px;
	padding-right: 15px;


	}
}

#filters{
	display: none;
}

#swipebox-action.visible-bars {
-ms-transform: translateY(50px);
-webkit-transform: translateY(50px);
transform: translateY(50px);
}
#swipebox-action {
top:-50px;
bottom: auto !important;
}

#swipebox-caption {
bottom:-50px;
top: auto !important;
}

#swipebox-caption.visible-bars {
-ms-transform: translateY(-50px);
-webkit-transform: translateY(-50px);
transform: translateY(-50px);
}

#swipebox-action #swipebox-close{
	right: 0 !important;
}

#review-ap{
	display: block;
	padding-top:0px;
}


}

/* RETINA SCREENS*/

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {

#brand-logo{
	background: url('includes/img/creek@x2.png') no-repeat; background-size: 120px 36px;

}

#menu-icon{
	background:  url('includes/img/menu-icon-white@x2.png')no-repeat; background-size: 150px 150px;
	
}

#ny{
	background:  url('includes/img/liberty@x2.png')no-repeat; background-size: 80px 160px;

}

}

